<section>
    <h1>Welcome!</h1>
    <h2>Websocket chat 1.0</h2>
    <form id="form__message">
        <input type="text" id="input__username" required placeholder="Your name...">
        <br>
        <br>
        <input type="text" id="input__message" required placeholder="Your message...">
        <input type="submit" name="" id="Send 🧾">
    </form>
    <div id="log__message">

    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="public/js/index.js"></script>